<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>注册</title>
    <link rel="stylesheet" href="static/css/pure-min.css">
    <style media="screen">
        .register-form {
            /* border: 1px solid red; */
            text-align: center;
            width: 100%;
            margin: 0 auto;
        }
    </style>
</head>
<body>
    <div class="register-form">
        <div class="heading">
            <h1>注册页面</h1>
        </div>
        <form action="/register" method="post" class="pure-form pure-form-aligned">
            <fieldset>
                <div class="pure-control-group">
                    <label for="name">用户名</label>
                    <input id="name" type="text" placeholder="用户名" name="username">
                </div>
                <div class="pure-control-group">
                    <label for="password">密码</label>
                    <input id="password" type="password" placeholder="密码" name="password">
                </div>
                <div class="pure-controls">
                    <button type="submit" class="pure-button pure-button-primary">注册</button>
                </div>
            </fieldset>
        </form>
    </div>
    <!-- <h1>注册页面</h1>
    <form action="/register" method="post">
        <p>
            <input type="text" name="username" placeholder="username">
        </p>
        <p>
            <input type="text" name="password" placeholder="password">
        </p>
        <p>
            <button>注册</button>
        </p>
    </form> -->
</body>
</html>
