<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Weather</title>
        <script src="/static/echarts.min.js"></script>
        <script src="/static/jquery.min.js"></script>
        <script src="https://cdn.bootcss.com/popper.js/1.13.0/umd/popper.min.js"></script>
        <script src="https://cdn.bootcss.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js"></script>
        <link href="https://cdn.bootcss.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" rel="stylesheet">
        <style>
            #weather {
                float: right;
                margin-right: 450px;
            }
        </style>
    </head>
    <body>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <label class="input-group-text" for="inputGroupSelect01">择一座城</label>
            </div>
            <select class="custom-select" id="inputGroupSelect01">
                <option name="qingdao" value="qingdao" selected>青岛</option>
                <option name="jinan" value="jinan">济南</option>
                <option name="yantai" value="yantai">烟台</option>
                <option name="weifang" value="weifang">潍坊</option>
                <option name="weihai" value="weihai">威海</option>
            </select>
        </div>
        <div id="id-div-trend" style="width: 600px;height:400px;">
        </div>
        <script src="/static/util.js"></script>
        <script src="/static/initTrendChart.js"></script>
        <script src="/static/main.js"></script>
    </body>
</html>
